language: python
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.10
  - 3.11
  - 3.12
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
install:
  - pip install .
script: pytest # run tests
