[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
keyring = "*"
nose = "*"
pytest-profiling = "*"
sphinx = "*"
setuptools = "*"
wheel = "*"
black = "*"
sphinx_rtd_theme = "*"

[packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
